= f.label :title, :caption => "Title"
= f.text_field(:title)

= f.label :price, :caption => "Price"
= f.text_field(:price)

= f.label :value, :caption => "Value"
= f.text_field(:value)

= f.label :description, :caption => "Description"
= f.text_field(:description)

= f.label :fine_print, :caption => "Fine Print"
= f.text_field(:fine_print)
