#city
  Change your city:
  - form_tag '/change_city' do
    =select_tag(:city_selector, :options => @city_names, :selected => @city.name, :id => 'city_selector')
    =submit_tag 'change'

#deal
  - unless @deal.nil?
    #title
      = @deal.title
    #price
      = "Price: $#{@deal.price}"
    #value
      = "Value: $#{@deal.value}"
    #saving
      = "You save: $#{@deal.saving}"
    #discount
      = "Discount: #{@deal.discount}%"
    #description
      = @deal.description
    #fine_print
      = "The Fine Print: #{@deal.fine_print}"
    #stats
      #bought
        = "#{@deal.bought} bought"
      #bought
        = "Total: #{@deal.total}"

